.DS_Store
.runtimeconfig.json
.github/secrets/decrypt_secrets.sh
iOS/ExportOptions-AdHoc.plist
iOS/ExportOptions.plist
iOS/Sociable.xcodeproj/project.xcworkspace/xcuserdata/stlp.xcuserdatad/UserInterfaceState.xcuserstate